:root {
    --h1-font-size: 72pt;
    --p-font-size: 20pt;
}

.header {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.header__background-image{
    background: url(https://images.wallpaperscraft.com/image/single/tree_savanna_africa_408057_3840x2160.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.header__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    min-height: 100%;
    min-width: 100%;

}

@media screen and (width < 900px) {
    :root {
        --h1-font-size: 48pt;
        --p-font-size: 16pt;
    }
}

.header__content>p {
    padding: 0 100px;
    font-size: var(--p-font-size);
    text-align: justify;
}

h1 {
    font-size: var(--h1-font-size);
}

a {
    color: #9BABBF;
}


.diagrams-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 10px;
    height: 100vh;
}

.diagrams-container__chart {
    width: 45%;
    height: 45%;
    min-width: 460px;
}


a {
    text-decoration: none;
}

.region-table {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px
}

.about__paragraph p {
    text-align: center;
    font-size: 32pt;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #595456;
    color: #fff;
}



table {
    width: 100%;
    font-size: 24pt;
    margin: 20px;
    text-align: center;
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: 1px solid #5e5e5e;
}